body {
  background-color: #282c34;
  min-height: 100vh;
}

.app {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  position: relative;
  padding: 35px 15px 50px;
}

section:nth-child(4) {
  color: white;
  line-height: 2;
  padding-left: 0;
  padding-right: 0;
}

section:nth-child(4) h2 {
  margin-bottom: 40px;
}

section:not(:last-of-type)::after {
  content: "";
  display: block;
  position: absolute;
  left: 7.5vw;
  right: 7.5vw;
  bottom: 0;
  height: 1px;
  background-color: white;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

h1, h2, h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.todo {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.todo-is-completed .checkbox {
  color: #000;
  background: #fff;
}

.todo-is-completed input {
  text-decoration: line-through;
}

.checkbox {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;
  border: 1px solid #fff;
}

.checkbox:hover {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0);
}

.checkbox-checked {
  color: #000;
  background: #fff;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  width: 500px;
}

input {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-default {
  display: block;
  margin: 30px auto;
  padding: 5px 10px;
}

.modal-wrapper {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  padding: 30px;
}

.infinite-list {
  display: block;
  color: #fff;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .img-col.left .sticky-cont.fixed {
    left: 0;
    right: 50vw;
  }

  .img-col.right .sticky-cont.fixed {
    left: 50vw;
    right: 0;
  }

  .sticky-cont {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    max-height: 100%;
  }

  .sticky-cont.above {
    top: 0;
  }

  .sticky-cont.fixed {
    position: fixed;
    height: 100vh;
    width: 50vw;
    top: 0;
    bottom: 0;
  }

  .sticky-cont.below {
    bottom: 0;
  }
}